/* commons  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(29, 29, 29);
}

a{text-decoration: none;}

li{list-style: none;}

span{
    padding: 0px 10px;
}
.opacity{
    opacity: 0.5;
}

/* fine commons  */

.main-container{
    width: 100%;
}



/* inizio header  */
header{
    background-color:rgb(15, 15, 15);
    position: fixed;
    top: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:80px;
    z-index: 1;
}
.logo-small {
    display: block;
    padding: 5px;
 
}

.logo-big{
    background-color: black;
    display: none;
    height: 80px;
    width:20% ;
    opacity: 1;
}
.logo-big img{
    padding:10px 10px;
    width: 100%;
    height: 80px;
   
   
}

.btn-upgrade a{

    padding: 10px 25px;
    margin-right: 20px;
    color:#fafafa ;
    font-size: 0.98em;
    font-weight:500;
    border: 1px solid #fafafa;
    border-radius: 30px;
}
/* fine header  */

/* inizio main  */
main{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:100vh;
}





/* inizio nav  */
.nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height:calc(100vh - 80px);
    width: 10%;
    z-index: 2;
    padding:10px 10px;
    color:#fafafa;
 }
.icone{
    display: flex;
    align-items: center;
    opacity: 0.5;
    
}

#playlist{
    margin-top: 10px;
    display: none;
    padding: 5px;
    
}

#playlist a{
    color:#fafafa;
 
}

.crea-pl{
    margin-top: 15px;
    margin-bottom: 20px;
}

.crea-pl i{
    font-size: 25px;
    color: black;
    vertical-align: middle;   
    background-color: rgb(167, 167, 167);
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

.download .artist img{
    background-color: rgb(167, 167, 167);
    font-weight: 600;
    border-radius: 50%;
    padding: 5px;
}

.hidden a{
    line-height: 2.5;
}
.download .icone.app{
    border-bottom: 1px solid rgb(167, 167, 167);
    padding-bottom: 10px;
}



.download .artist{
    margin-top: 10px;
}

.text-nav{
    display: none;
    padding-left: 5px;
}

.content{
    display: flex;
    width: 90%;
    height:calc(100vh - 80px );
    background:rgb(29, 29, 29);

}

/* fine nav  */


/* fine main */

/* inizio footer  */
footer{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
    background-color: rgb(40, 40, 40)    
}
.left-footer,
.right-footer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 15px;
}

.center-footer{
    width: 50%;
}

.left-footer i{
    color: rgba(167, 167, 167, 0.527);
    padding: 0px 5px;
}

.img-footer img{
    width: 70px;
    height: 80px;
    margin-top: 8px;
    padding: 10px 5px;
    object-fit: cover;
}

.nome-brano{
   
    color:#fafafa;
    margin: 0px 10px;
}

.center-footer{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
   margin-top: 10px;
   margin-left: 50px;
  
}
.center-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  
}

.center-top i{
    font-size: 1.0em;
    margin:0px 3px;
}

.center-top i:nth-of-type(3){
    font-size: 1.8em;
    margin: 0px 10px;
}

.center-bottom{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
   }

.center-bottom span{
    font-size: 10px;
    font-weight: 600;
}

/* progress bar  */

.progress_bar {
    margin: auto;
    min-width:80%;
    max-width:80%;
    height: 7px;
    box-shadow: 0px 0px 4px rgb(92, 92, 92);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .progress_bar:before {
      content: '';
      width: 200%;
      height: 100%;
      position: absolute;
      animation: progress-anime 10s ease-out infinite;
      background: linear-gradient(to right, rgb(198, 198, 198),rgb(198, 198, 198) 50%,rgb(92, 92, 92) 50%,rgba(92, 92, 92)100%);
  }
  
  @keyframes progress-anime {
      0% {left: -100%;}
      75% {left: -5%;}
      85% {left: -5%;}
      95% {left: 0;}
  }
  




  /* fine progress bar  */

/* fine footer */


/* fine debug  */

/* inizio mededia query  */
@media(min-width:577px){
    .logo-big{
        display: block;
        width: 30%;
    
    }

    .nav{
        z-index: 1;
        margin-top:80px;
        width: 30%;
        height:calc(100vh - 160px);
    }
    .nav .icone img{
        width: 2em;
        object-fit: cover;
    }

    .text-nav{
        display: block;
    }

    .content{
        width: 70%;
        margin: 0;
    }

    header{
        z-index: 4;
        justify-content: space-between;
    }

    .logo-small{
        display: none;
    }

    #playlist{
        display: block;
    }

    .download .icone.app img{
        width: 15%;
    }

    .nome-brano .opacity{
        display: inline-block;
    }

    .progress_bar {
        min-width:100%;}

 
}


@media(min-width:768px){
    .icon-left i{
        display: inline-block;
    }

    .img-footer img{
        width: 100%;
        height: 80px;
        margin-top: 8px;
        padding: 10px 5px;
        object-fit: cover;
    }
}



  
  



