

/* commons  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:0.1s;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(29, 29, 29);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* inizio main */
main{
    background-color: rgb(29, 29, 29);
    display: flex;
    height:calc(100vh - 90px)

}

.clm-snx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:50px ;
    height:100%;
    background-color: black;
   
}

.clm-drx{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(29, 29, 29);
    overflow: auto;
}

.upgrade{
    position: absolute;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:calc(100% - 50px);
    height: 90px;
    background-color: rgb(15, 15, 15);
    text-align: right;
    z-index: 4;
}

.upgrade .btn a{
    padding: 8px 30px;
    margin-right:20px ;
    color:#fafafa ;
    font-size: 0.98em;
    font-weight:500;
    border: 1px solid #fafafa;
    border-radius: 30px;
    
}


.nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    color:#fafafa;
     
 }

.logo-lrg{
    width:100%;
   
}

.logo-lrg img{
    display:none;
    width: 100%;
    padding:10px;
}

.logo-sml img{
    width: 45px;
    padding: 10px;
}

.content{
    width: 100%;
    height: 100%;
    
}
.icone{
    display: flex;
    align-items: center;
}

.icone img{
    width:45px;
    padding: 10px;
    object-fit: contain;
}

.text-nav{
    color:#fafafa;
}

#playlist{
    padding: 10px;
    line-height: 1.8;
}

#playlist i{
    background-color: gray;
    margin-right: 5px;
    color: black;
    padding:3px;
    border-radius: 3px;
}

#playlist a{
    color: white;
}

#playlist, .text-nav{
    display: none;
}

.download .icone.app{
    border-bottom: 1px solid rgb(167, 167, 167);
    padding-bottom: 5px;
}



.icon-artist{
    display: flex;
    align-items: center;
    padding: 10px;
}

.artist .icon-artist img{
    display: inline-block;
    width: 25px;
    margin-right: 10px;
}



.artist img{
    padding:5px;
   
    border-radius: 50%;;
    background-color:rgb(167, 167, 167) ;
}
/* content  */
.content{
    margin-top:90px  
}

.nav-content{
    width: 100%;
}

.nav-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-content li{
    margin: 10px 5px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 2;
    font-size: 0.5em;
    background-color: rgb(40, 40, 40)    
}
.right-footer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 15px;
}
.left-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 25%;
    font-size: 10px;
}

.left-footer i{
    color: rgba(167, 167, 167, 0.527);
    padding: 0px 5px;
}

.img-footer img{
    
    height:90px;
    margin-top: 8px;
    padding: 10px;
    object-fit: cover;
}

.nome-brano{
   
    color:#fafafa;
    margin: 0px 10px;
}

.center-footer{
    justify-self: center;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 10px;
    font-size:
    
  
}
.center-top{
    width: 100%;
    margin:auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
  
}

.center-top i{
    font-size: 3em;
    margin:0px 10px;
}

.center-top i:nth-of-type(3){
    font-size: 4em;
    margin: 0px 5px;
}

.center-bottom{
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
   }

.center-bottom span{
    font-size: 10px;
    font-weight: 600;
    margin: 0px 5px;
}
.right-footer
{
    display: flex;
    justify-content: flex-start;
}

.right-footer i{
    color:#fafafa;
    font-size: 1em;
    margin:0px 2px;
}


.progress_bar2{
    width:50%;
}
/* progress bar  */

.progress_bar {
    margin: auto;
    width:100%;
    height: 7px;
    box-shadow: 0px 0px 4px rgb(92, 92, 92);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .progress_bar:before {
      content: '';
      width: 200%;
      height: 100%;
      position: absolute;
      animation: progress-anime 10s ease-out infinite;
      background: linear-gradient(to right, rgb(198, 198, 198),rgb(198, 198, 198) 50%,rgb(92, 92, 92) 50%,rgba(92, 92, 92)100%);
  }
  
  @keyframes progress-anime {
      0% {left: -100%;}
      75% {left: -5%;}
      85% {left: -5%;}
      95% {left: 0;}
  }
  .progress_bar2 {
    height: 5px;
    box-shadow: 0px 0px 4px rgb(92, 92, 92);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .progress_bar2:before {
      content: '';
      width: 200%;
      height: 100%;
      position: absolute;
      animation: progress-anime 10s ease-out infinite;
      background: linear-gradient(to right, rgb(198, 198, 198),rgb(198, 198, 198) 50%,rgb(92, 92, 92) 50%,rgba(92, 92, 92)100%);
  }
  
  @keyframes progress-anime {
      0% {left: -100%;}
      75% {left: -5%;}
      85% {left: -5%;}
      95% {left: 0;}
  }


@media(min-width:577px){
    .clm-snx{
        width: 210px;
    }

    .clm-drx{
        width: calc(100% - 210px);
    }

    .logo-lrg img{
        display: block;
    }

    .logo-sml{
        display: none;
    }

    #playlist, .text-nav{
        display:block
    }

    .upgrade{
        width:calc(100% - 210px);
    }
}

@media(min-height:90px){
    footer{
        min-height: 100px;
        z-index: 1;}
    }
